body {
    background-color: #fff5fe;
}

.header {
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.btn-theme,
.create-gif {
    background: #f7c9f3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.create-gif a,
.misGifos-btn {
    color: black;
}

.misGifos-btn:hover {
    border: 1px dotted black;
}

.btn-theme:hover,
.choose-theme:hover button,
.search-input:focus~.btn-search:hover,
.create-gif:hover {
    background: #e6bce2;
}

.search-input:focus~.btn-search,
.btn-search:focus {
    color: black;
    background: #f7c9f3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.search-bar {
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.search-title {
    background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

.underline {
    border-bottom: 1px solid black;
}

.title-section {
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}

.title-gif {
    background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

.gif:hover {
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.gif-title {
    border-bottom: 1px solid white;
    color: white;
    background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

.btn-gif {
    background: #3a72db;
    border: 1px solid #4c2f99;
    box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
}

.autocomplete-search {
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.autocomplete-search p {
    padding: 2px;
    margin-bottom: 10px;
    background: #f0f0f0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.autocomplete-search p:hover {
    cursor: pointer;
    background: #dbdbdb;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.autocomplete-search a {
    font-family: "Chakra Petch", sans-serif;
    font-size: 1rem;
    color: #110038;
    letter-spacing: 0;
    display: block;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 8px;
}

.autocomplete-search a:hover {
    border: 1px dotted #110038;
}